*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
header .first-nav{
    background-color:rgba(49, 33, 14, 0.985);
    height: 8vh;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight:bolder;
    color: white;
}
 
header nav{
    height: 10vh;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav img{
    width: 5vw;
    height: auto;
}
header nav a{
    text-decoration: none;
    font-size:1.1rem ;
    color:rgba(108, 68, 20, 0.985) ;
}
 .hero-section{
    height: 100vh;
    width: 100%;
 }
 .hero-img{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/hero-img.webp);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
 }
.sec-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}
.sec-sec h1{
    margin: 3% 0;
    font-size: 3rem;
    font-weight: 4rem;
}
.third-sec {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.product-card {
    background-color: rgb(248, 234, 214);
    width: 14.375rem;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.625rem;
    margin: 0.5rem;
}
.product-card img {
    width: 100%;
    transform: scale(2.2, 2.2);
    margin: 1.25rem 0;
    transition: all 0.2s ease;
}
.product-card img:hover {
    transform: scale(1.6, 1.5);
}
.rating {
    margin: 0.625rem 0;
}
.rating img {
    height: 0.625rem;
    width: 80%;
}
.hii-img {
    width: 0.625rem;
}
h2 {
    font-size: 1.125rem;
    color: #333;
    margin-bottom: 0.625rem;
}
.shop-btn {
    background-color: black;
    color: white;
    padding: 0.625rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}
.shop-btn:hover {
    background-color: #444;
}
.product-info h2 {
    font-size: 0.875rem;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 3.125rem;
}
.span button {
    padding: 0.5rem 1rem;
    margin: 0.3125rem 0;
    font-size: 1.25rem;
    border: none;
}
.span button:hover {
    background-color: rgba(243, 228, 209, 0.825);
}
.forth-sec{
    height: 40vh;
    width: 100%;
}
.for-img{
    height: 40vh;
    width: 100%;
}
.for-img img{
    width: 100%;
}
.fifth-sec{
    background-color: rebeccapurple;
}
.fifth-sec .fifth-sec-headings{
    background-color: rgb(243, 228, 209);
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fifth-sec .fifth-sec-headings h1{
    font-size: 2.4rem;
    font-weight: bolder;
}
.fifth-sec .fifth-sec-headings p{
    width: 40%;
    font-weight: 500;
}
.six-sec-cards{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(243, 228, 209);
}
.card-one{
    height: 21.875rem;
    width: 15.625rem;
    background-image: url(./assets/card1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
    transition: all 0.3s ease-in-out;
}
.card-one:hover{
    transform: translateY(-2.188rem);
}
.card-one .card-heading{
    width: 100%;
    height: 100%;
    transform: scaleY(1);
    transform-origin:bottom;
    transition: transform 3s ease-in-out;
    border-radius: 5%;
    padding: 0.938rem;
}
.card-heading:hover{
    background-color:rgb(213, 174, 123);
    transform: scaleY(1.05);
}
.card-one .card-heading h1{
    margin-top: 12.5rem;
    font-size: 1.563rem;
    font-weight: bolder;
    width: 100%;
    color: white;
}
.card-one .card-heading p{
    display: none;
}
.card-one .card-heading button{
    margin-top: 0.625rem;
    padding: 0.5rem 2.5rem;
    border-radius:5% ;
    border: none;
    color: rgba(108, 68, 20, 0.985);
}
