 *{
  margin: 0;
  padding: 0;
    scroll-behavior: smooth;
 }
 marquee{
 display: none;
 }
 .dark .complete{
   background-color: #333;
 }
 .dark-mode body{
  background-color: #333;
 }




  .Experience-parent {
  display: flex;
  flex-wrap: wrap;          
   justify-content: center; 
  gap: 2px;                
   padding: 20px; 
  box-sizing: border-box;
}

.Experience-parent-heading {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  /* margin-bottom: 20px; */
  color: #6C63FF;
}

 .ex-img{
 width: 55px;
  height: 55px;
  object-fit: cover;
  clip-path: polygon(
    25% 5%, 
    75% 5%, 
    100% 50%, 
    75% 95%, 
    25% 95%, 
    0% 50%
  );
  transition: 0.3s;
  /* border: 3px solid #00bcd4; */
 }

 .ex-img:hover {
  transform: scale(1.05);
  border-color: #2196f3;
}
